<div class="container">
          <div class="container text-center" style="margin: 30px;">
         <h3>Realizar un Pedido</h3>
</div>  

<div class="container">
          <table class="table table-striped table-hover align-middle">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Realice su Pedido</th>
                        <th scope="col">Listado de Productos</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      
                     
                     <td>
                     <div class="container">
                              <form (ngSubmit) = "onAdd()" class="row g-3">
                                        <div class="col-auto">
                                          <label for="tipoRopa" >Tipo Ropa</label>
                                          <select class="form-select"  id="tipoRopa" name="tipoRopa" [(ngModel)]="productoAgregar.tipoRopa">
                                                  <option [ngValue]= "tipo"  *ngFor="let tipo of tipoRopa">{{tipo}}</option>                                         
                                        </select>
                                        </div>
                                        <div class="col-auto">
                                          <label for="talla" >Talla</label>
                                          <select class="form-select"  id="talla" name="talla" [(ngModel)]="productoAgregar.talla">
                                                  <option [ngValue]= "talla"  *ngFor="let talla of listaTallaa">{{talla}}</option>                                         
                                        </select>
                                        </div>
                                        <div class="col-auto">
                                        <label for="color" >Color</label>
                                        <select class="form-select"  id="color" name="color" [(ngModel)]="productoAgregar.color">
                                          <option [ngValue]= "color"  *ngFor="let color of listaColores">{{color}}</option>                                         
                                        </select>
                                        </div>
                                        <div class="col-auto">                                                  
                                        <button type="submit" class="btn btn-warning btn-sm me-3">Agregar</button>
                                        </div>
                              </form>
                     </div>         

                    <div class="container">
                               <form >
                                  <div class="mb-3">
                                        <label for="nombrePersona" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="nombrePersona" name="nombrePersona" >                                                   
                                        </div>
                                        <div class="mb-3">
                                         <label for="tipoIdentificacion" class="form-label">Tipo Identificación</label>
                                        <input type="text"  class="form-control" id="tipoIdentificacion" name="tipoIdentificacion" >
                                         </div>
                                        <div class="mb-3">
                                        <label for="numeroIdentificacion" class="form-label">Numero de Identificacion</label>
                                         <input type="number"  class="form-control" id="numeroIdentificacion" name="numeroIdentificacion" >
                                        </div>
                                        <div class="mb-3">
                                        <label for="fechaEntrega" class="form-label">Fecha de Entrega</label>
                                         <input type="number"  class="form-control" id="fechaEntrega" name="fechaEntrega" >
                                        </div>
                                        <div class="mb-3">
                                        <label for="direccionEntrega" class="form-label">Dirección</label>
                                         <input type="number"  class="form-control" id="direccionEntrega" name="direccionEntrega" >
                                         </div>
                                        <div class="text-center">       
                                        <button type="submit" class="btn btn-success btn-sm me-3">Comprar</button>
                                         <a href="/" class="btn btn-danger btn-sm ">Cancelar</a>         
                                         </div>

                               </form>
                              </div>
                     </td>
                     <td>

                              <table class="table table-striped table-hover align-middle">
                                        <thead class="table-light">
                                          <tr>
                                            <th scope="col">Tipo de Ropa</th>
                                            <th scope="col">Talla</th>
                                            <th scope="col">Color</th>
                                            <th scope="col">Precio</th>
                                          </tr>
                                        </thead>
                                        <tbody>

                                        <tr *ngFor="let producto of productos">
                                          <td>{{producto.tipoRopa}}</td>
                                          <td>{{producto.talla}}</td>
                                          <td>{{producto.color}}</td>
                                          <td>{{producto.precio}}</td>
                                         </tr>
                                         
                                        
                                        </tbody>
                                      </table>         


                    
                    </td>
                    </tbody>
                           
                    
                  </table>
</div>